/* - $VARS ------------------------------------------------------- */

/* - $VARS --- $SIZES -------------------------------------------- */


/* - $VARS --- $COLORS ------------------------------------------- */

$white          = white
$greyLight      = #eaeaea 
$grey           = #ddd
$greyDark       = #bbb
$black          = #333


$orange         = #ff803c
$orangeLight    = #ff803c
$orangeShadow   = #401D0A

$blue           = #30a0c8
$blueLight      = #00BCFF
$blueShadow     = #005E7F
$blueDark       = #002F40




$primaryColor           = $blue
$primaryColorHighlight  = $blueLight
$primaryColorShadow     = $blueShadow

$secondaryColor = $blueDark

$textColor           = $black
$textColorNeutral    = $greyDark
$textColorInvert     = $white



/* - $VARS --- $COLORS ------------------------------------------- */
$baseFontSize = 13px;




/* - $METHODS ---------------------------------------------------- */





Vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -ms-{prop} args
  -o-{prop} args
  {prop} args


FadeMe(value)
   -moz-opacity value
   -khtml-opacity value
   opacity value
   value = value * 100
   filter s('alpha(opacity=%s)', value )


CircleMe()
  position relative
  Vendor(border-radius,50%)
  height 100%
  width 100%
  
  
Show()
   display block
   visibility visible
   
Hide()
   display none
   visibility hidden   
     
  
/**
 * input: @property name(width/height/margin)
 *        @value 
 * output: the rendered CSS for the given property and value for all the vendors
 */
Calc(prop, value)
   {prop} -moz-calc(value)
   {prop} -webkit-calc(value)
   {prop} -o-calc(value)
   {prop} -ms-{prop} args
   {prop} calc(value)

/**
 * is called on the after select like this: .element-class:after{ _clearfix }
 */
Clearfix()
   content '.'
   display block
   clear both   
   visibility hidden   
   line-height 0 
   height 0   

Digitize(fade = .5)
   content ''
   background url("../img/overlay-digital-texture.png")
   width 100%
   height 100%
   position absolute
   z-index 100
   top 0
   left 0
   FadeMe(fade)

Rotate(degree)
  -webkit-transform rotate(unit(degree,'deg'))
  -moz-transform rotate(unit(degree,'deg'))
  -ms-transform rotate(unit(degree,'deg'))
  -o-transform rotate(unit(degree,'deg'))
  transform rotate(unit(degree,'deg'))

/* - $GENERAL STYLES --------------------------------------------- */

html,body
   height 100%
   
   
body
   font-family 'Source Sans Pro', sans-serif
   font-family 'Lato' sans-serif
   //font-family 'Merriweather', sans-serif
   font-size $baseFontSize
   color $textColor
   background $grey   
   position relative
   
body.fixed
  width 100%   
   
.main
   background $greyLight
   padding-bottom 7em
   //min-height 100%
   //height auto !important
   //height 100%
  
h1,h2,h3,h4,h5,h6
   //margin 0 0 1em 0  

h1
  font-size 3em

p
   font-family 'Source Sans Pro', sans-serif

span
   font-family inherit
   
ul
   list-style none   
   margin-left 0
   padding 0
   
   
   
   
   
   
   
   
/* - $UNIQUE STYLES ---------------------------------------------- */


/* --- $HEADER --------------------------------------------------- */  

$headerHeight = 100px

header
  background $primaryColor  
  width 100%
  //height $headerHeight
  position fixed
  top 0
  left 0
  z-index 9999
  
  .logo    
    float left
    margin 20px 0
    
    
    a
      color $textColorInvert
      font-size 40px
      text-transform lowercase
      
  nav
    float right
    margin-top 30px
    margin-bottom 20px
    
    li
      float left
      margin-left 1em
    
    a
      color $textColorInvert  
      font-size 1.4em
      
    a:hover
      color $primaryColorShadow

.header.fixed
  
  .logo
    margin 0
    
  nav  
    margin 5px 0 0 


.hero
   position relative
   text-align center
   overflow hidden
   height 30em
   min-height 300px
   
   .cover
      position relative   
         
      img
        width 100%
            
   .wrapper
      //position static
      text-align center
      
      article
         //position absolute
         //top 50%
         text-align center
         
         h1
            font-size 4em
            text-align center
                
.hero:after
   Digitize()


.focus
  margin-top 100px
  
  
  .thumb
    position relative
    width 500px
    height 500px
    margin 0 auto
    

.filters      
   border-bottom 1px solid $greyDark
   display inline-block 
   margin-bottom 2.5em
   
   .filter-tag    
      display inline-block
      margin-left 1em
      padding-bottom 10px
   
   .filter-tag:first-child
      margin-left 0
            
   .filter-tag.current,.filter-tag:hover
      border-bottom 5px solid $greyDark      
      margin-bottom -5px
      padding-bottom (10 + 5)px      

/* --- $CONTENT -------------------------------------------------- */    
    
section
   margin-bottom 10em   

   .headline
      margin-bottom 2em
     
      .title
         margin 0
     
      .item
         margin-right .5em 
         float left
         //line-height 1em
   
   
   .title
      //text-transform uppercase
      font-size 3em
      margin 1em 0  
    
    .skill
      color $primaryColor
      
   .project-url
      display block
      background $primaryColor
      color $white    
      padding .5em
      margin-top .8em
      font-weight bold
    
   .project-url:hover
      background $primaryColorShadow  
  

   .content
      padding-top 3em
    
      > .row
         font-size 100px
  
  
*[class*="grid"]
   
   .box
      margin-bottom 1em
      //padding 5em 0
            
      .box-wrapper
        width 100%        
        padding-bottom 80%
        
        background-color $grey
        text-align center        
        position relative
        overflow hidden
          
        a          
          color $textColor
          width 100%
          height 100%

          position absolute
          top 0 
          left 0
                         
      h2
         margin 0
         
      p
         margin 0
         font-size 13px
         font-style italic
         //text-shadow 0px 0px 2px #bf6542            
   
   .box:hover
      
      .hidden
         Show()
      
      .shown
         Hide()   
      
   .box.skill
            
      .box-wrapper
         padding-bottom 100% 
         background none
         font-size 15.16em //This is used for the rings and it need to be related to the size of the wrapper

      a           
         color $black
         font-size 14px
         padding 2.2em
         z-index 101         
                        
      h2
         margin 0
         font-size 1.5em
      
      h3
         margin 0
         font-size 1.4em
            
      .skill-name
         color $primaryColorShadow
         font-weight bold
      
      *[class*="line"]
         width 60%
         height 15px
         background $orangeLight
         float left
         clear left
         margin-bottom 5px
         
      *[class*="line"][class*="experience"]
         background #FF4C4C
         width 74%
               
      *[class*="line"][class*="projects"]
         background #FFAE7E
         width 34%
   
   .box.skill:hover         
      
      a
         color $textColorInvert

      .info
         display none
      
      .pie.trace
         background-color $primaryColor
         
      span
         font-size 1.2em
         font-style italic 
         font-weight bold  
               
               
      
   .box.work
      //box-shadow 1px 1px 10px $greyDark
      
      .box-wrapper 
         //min-height 300px
         padding-bottom 110%
         text-align left
         
         .thumb
            height 85%
            overflow hidden
            text-align center
            font-size 3em
            font-weight bold
            color $greyLight
            //text-shadow 0px -1px 2px $orangeShadow            
            position relative   
                 
            img
               width 100% 
               display block
               
            span
               display block
               padding-top 30%                           

         .info
            height 15%
            padding 1em 
            //color $textColorNeutral
            background $white
            
            .work-title
               //color $textColor
                                 
            .date
               font-size 13px
               font-weight normal
               color $textColorNeutral   
            
            
            
         a
            //color $textColor
            
            
                  
   .box.work:hover
               
      .thumb
        //display none
        //height 100%
        
      .info
         //height 100%
         //margin-top -88%
         background $primaryColor
         color $white
         //FadeMe(.7)
         //padding-top 40%



/* - $ASIDE ----------------------------------------------------- */

aside

  .skills-used

      .box-wrapper        
        font-size 1em !important
   
    a
      padding 0 !important
                
    .ring
      font-size 6em
    
    
   .yarpp-related-widget
            
      .thumb:hover            
         background $primaryColor
         
         a
            color $textColorInvert 
            padding 1em !important
         
         img
            display none


/* - $FOOTER ----------------------------------------------------- */

footer 
  //border-top 1px solid $greyDark
  padding 3em 0
  
  .row
     font-size 100px





/* - $PAGES ---------------------------------------------------- */


/* - $PAGES --- HOME ------------------------------------------- */


body.home
  width 100%
  
  .main
    //height auto
   

section.home
   background-color $primaryColor
   height 100%
   width 100%
   text-align center
   color $white
   position absolute
   z-index 1000 
   margin-bottom 0
   top 0
   
   a
      color $white

   h1
      font-weight 300
   
   .wrapper
      height 100%
      //position relative
      
   article
      position absolute
      bottom 0
      width 100%
      height 70%

      
   .links
      width 100%
      position absolute
      bottom 7%

.handlerArea
  width 100px
  height 30px
  display block
  margin 0 auto
  z-index 9999999999
  
  .arrow
    background white
    width 1px
    position relative
    margin 0 auto
  
  .arrow:before
    position absolute
    display block
    content '.'
    font-size 70px
    font-weight bold
    color $white
    z-index 1
    width 10px
    height 10px
    top -16px
    left -18px
    line-height 0
  
  
  .arrow:after
    position absolute
    display block
    content '.'
    font-size 1px
    color $white
    line-height 1px
    border-width 25px
    border-style solid
    border-bottom-color transparent
    border-top-color $primaryColor
    border-right-color transparent
    border-left-color transparent
    left -35px



/* - $OBJECTS ---------------------------------------------------- */





/* - $OBJECTS --- GRID ------------------------------------------- */
/* defines the columns width, margins, and state - liquid or fixed */


/**
 * By having a span margin set in ems (or even percentage) we can have different margin sizes and span widths in multiple locations
 * without REsetting the span sizes/margins. Pretty cool isn't it? 
 *
 * How it works: in the needed region(e.g. footer,header,main-content) we change the font-size at the row level and then REsetting it 
 * at the span-wrapper level. 
 *
 * DRAWBACKS: - adding the span-wrapper container
 *            - if we want to change the font size on the entire region we actually need to change it at the the span-wrapper level.
 *            - by default it resets the span-wrapper's fontsize to the baseFontSize(the body font-size) if needed another size this needs to                  be specified in the {region} > .span-wrapper
 */

$spanMargin = 1em

.row 
   margin-left - $spanMargin
   *zoom 1

//copied from twitter bootstrap
.row:after 
   clear: both;   
   display: table;
   line-height: 0;
   content: "";

*[class*='span']
   float left
   margin-left $spanMargin
   //margin-bottom $spanMargin //this is onluy a column - should'nt have margin-bottom - if the grid needs it I will do it on that level
   width 100%
   
   //reset the font-size to the baseFont(body font)
   //this should have another name
   .span-wrapper
      float none
      margin 0
      width auto
      font-size $baseFontSize

   
*[class*='span'].[class*='fullwidth']
   margin-left 0
   
*[class*='span'].[class*='nomargin']
   margin 0   



/** 
 * This is a pretty cool function I came up with.
 * Renders the columns in percentage based on a given limit and a set marginWidth
 * 
 * Be careful - It uses Calc()
 */
SpanCalc(spanNo,limit)
  Calc(width, (spanNo*(100/limit))% \- $spanMargin)

for col in 1 2 3 4 5 6 7 8 9 10 11 12 
  [class*=span{col}]
    SpanCalc(col,12)        
   

/* -$OBJECTS --- FORMS -------------------------------------------- */





.control-group
   margin-bottom 1em

   input,textarea
      width 100%
      padding .5em
      border 0
      
   input
      line-height 2em
      
      
      
   input[type="submit"]
      background $primaryColor
      color $white
      font-size 1.2em
   
   input[type="submit"]:hover
      background $primaryColorShadow
      
   textarea 
      min-height 8em
   
   label   
      Hide()
   


input:-moz-placeholder,
textarea:-moz-placeholder 
  color: #999999;

input:-ms-input-placeholder,
textarea:-ms-input-placeholder
  color: #999999;

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder
  color: #999999;


/* -$OBJECTS --- RING --------------------------------------------- */   


/* When creating the rings I used this tutorial: http://atomicnoggin.ca/blog/2010/02/20/pure-css3-pie-charts/ 
 * and this tutorial: http://css-tricks.com/css-pie-timer/
 * and I was also deeply inspired by awwwards.com
 */               
.ring 
   position relative              
   z-index 100 
      
   .ring-wrapper         
      position: absolute;
      width: 1em;
      height: 1em;
      clip:rect(0,1em,1em,.5em)
      z-index 100      
      
   .pie
      position: absolute;
      border .07em solid $primaryColor
      width: 1em;
      height: 1em;                        
      -moz-border-radius: .5em;
      -webkit-border-radius: .5em;
      border-radius: .5em;
      clip: rect(0,.5em,1em,0);
                  
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;            
      -webkit-font-smoothing: antialiased;            
      font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
               
   .pie.fill
      display none
      
   .ring-wrapper.gt50
      clip rect(auto,auto,auto,auto)
      
      .pie.fill
         display block
         -moz-transform: rotate(180deg)!important;
         -o-transform: rotate(180deg)!important;
         -webkit-transform: rotate(180deg)!important;
         transform: rotate(180deg)!important;
      

   .pie.trace
      clip rect(auto,auto,auto,auto)
      opacity .3
      z-index 99
   
   //not used 
   .pie.background 
      clip rect(auto,auto,auto,auto)
      border-color $greyLight !important
      z-index 98   
      

//not used 
.ring.projects
   z-index 99
   
   .pie
      border-width .13em

//not used             
.ring.codes
   z-index 98
   
   .pie
      border-color $orange
      border-width .20em                 
      


/* -$OBJECTS --- DROPDOWN ------------------------------------------ */   

.dropdown
   position relative
   
.dropdown-toggle   
   padding-right 10px
   
.dropdown-menu
   position absolute
   background $white
   font-size 1em
   z-index 9999   
   font-size 13px //to be replaced
   min-width 140px
   width 100%
   top 3em
   box-shadow 1px 1px 10px $greyDark
   
   li      
      border-top 1px solid $greyLight
      
      a
         display block
         padding 1em
         
      
   li:first-child
      border none
      
   li:hover
      background $primaryColor   
      
      a
         color $white


/* -$OBJECTS --- PANELS ------------------------------------------ */   

.panel
  position fixed
  top 0 
  left 0
  width 100%
  height 100%  
  overflow scroll
  z-index 9999
  
  .subpanel 
    width 96% !important
    height 100%
    min-height 100%
    height auto !important
    margin 0 auto
    background $greyLight
    position relative
    z-index 100
    padding-bottom 3em
    
  .panel-background
    width 100%
    height 100%
    FadeMe(.7)
    background $black  
    position absolute
    z-index 99
    
  .panel-close
    background-image url("../img/close-btn.png")
    background-repeat none
    background-size 100% 100%
    position absolute
    top 2em
    right 2em
    width 2.5em  
    height 2.5em
    z-index 102
    
  *[class*="panel-arrow"]
    width 1.5em
    height 2.5em
    background-size auto 100%
    background-repeat no-repeat
    position absolute
    top 50%
    z-index 103
    
  .panel-arrow-next
    background-image url("../img/arrow-next.png")
    right 2em
    background-position 100%
    
  .panel-arrow-prev
    background-image url("../img/arrow-prev.png")    
    left 2em    
    
    



/* -$OBJECTS --- SCROLLORAMA --------------------------------------*/   

.scrollorama-block
  width 100%
  


/* -$OBJECTS --- OTHERS ------------------------------------------ */   

.circle
  CircleMe()
  position absolute

.bold
   font-weight bold !important

.clearfix:after
  Clearfix()

.shown
   Show()
   
.hidden
   Hide()
   
.fixed
  position fixed
     
   
.pull-left
   float left !important

.pull-right
   float right !important  
   
.table
   display table
   height 100%
   width 100%
   text-align center
   
   .table-cell
      display table-cell
      vertical-align middle

   

MakeArrow(elm,dir,deg)
   {elm}
      background blue
      width 100px
      height 100px      
      position relative
      
      
   {elm}:before,{elm}:after
      content ''
      display block
      width 100%
      height 100%
      border-left 2px solid black      
      
   {elm}:before
      Rotate(deg)
      top unit(-deg,'%')
      
   {elm}:after
      Rotate(-deg)
      top unit(deg,'%')      
   
   
//MakeArrow('.arrow',dir,degree)
       

      