html,body{height:100%}
body{font-family:'Source Sans Pro',sans-serif;font-family:'Lato' sans-serif;font-size:13px;color:#333;background:#ddd;position:relative}
body.fixed{width:100%}
.main{background:#eaeaea;padding-top:5em}
h1{font-size:3em}
p{font-family:'Source Sans Pro',sans-serif}
span{font-family:inherit}
ul{list-style:none;margin-left:0;padding:0}
.js .ifJsHide{display:none}
header{background:#30a0c8;width:100%;position:fixed;top:0;left:0;z-index:300;}
header .logo{float:left;}
header .logo a{color:#fff;font-size:3em;text-transform:lowercase}
header nav{float:right;padding-bottom:1em;}
header nav li{float:left;margin-left:1em}
header nav a{color:#fff;font-size:1.4em}
header nav a:hover{color:#005e7f}
.header.fixed .logo{margin:0}
.header.fixed nav{margin:5px 0 0}
.hero{position:relative;text-align:center;overflow:hidden;height:30em;min-height:300px;}
.hero .cover{position:relative;}
.hero .cover img{width:100%}
.hero .wrapper{text-align:center;}
.hero .wrapper article{text-align:center;}
.hero .wrapper article h1{font-size:4em;text-align:center}
.hero:after{content:'';background:url("../img/overlay-digital-texture.png");width:100%;height:100%;position:absolute;z-index:100;top:0;left:0;-moz-opacity:.5;-khtml-opacity:.5;opacity:.5;filter:alpha(opacity=50)}
.focus{margin-top:100px;}
.focus .thumb{position:relative;width:500px;height:500px;margin:0 auto}
.filters{border-bottom:1px solid #bbb;display:inline-block;margin-bottom:2.5em;}
.filters .filter-tag{display:inline-block;margin-left:1em;padding-bottom:10px}
.filters .filter-tag:first-child{margin-left:0}
.filters .filter-tag.current,.filters .filter-tag:hover{border-bottom:5px solid #bbb;margin-bottom:-5px;padding-bottom:15px}
section{padding-bottom:7em;}
section h1,section .title{text-align:center;font-weight:300;font-size:4em;padding:1em 0 2em;margin:0}
section .headline{margin-bottom:2em;}
section .headline .title{margin:0;padding:0}
section .headline .item{margin-right:.5em;float:left}
section .skill{color:#30a0c8}
section .project-url{display:block;background:#30a0c8;color:#fff;padding:.45em;margin-top:2.2em;font-weight:bold}
section .project-url:hover{background:#005e7f}
section .content{padding-top:3em;}
section .content > .row{font-size:100px}
*[class*="grid"] .box{margin-bottom:1em;}
*[class*="grid"] .box .box-wrapper{width:100%;padding-bottom:80%;background-color:#ddd;text-align:center;position:relative;overflow:hidden;}
*[class*="grid"] .box .box-wrapper a{color:#333;width:100%;height:100%;position:absolute;top:0;left:0}
*[class*="grid"] .box h2{margin:0}
*[class*="grid"] .box p{margin:0;font-size:13px;font-style:italic}
*[class*="grid"] .box:hover .hidden{display:block;visibility:visible}
*[class*="grid"] .box:hover .shown{display:none;visibility:hidden}
*[class*="grid"] .box.skill .box-wrapper{padding-bottom:100%;background:none}
*[class*="grid"] .box.skill a{color:#333;padding:15%;z-index:200}
*[class*="grid"] .box.skill h2{margin:0;font-size:1.5em}
*[class*="grid"] .box.skill h3{margin:0;font-size:1.4em}
*[class*="grid"] .box.skill .skill-name{color:#005e7f;font-weight:bold}
*[class*="grid"] .box.skill *[class*="line"]{width:60%;height:15px;background:#ff803c;float:left;clear:left;margin-bottom:5px}
*[class*="grid"] .box.skill *[class*="line"][class*="experience"]{background:#ff4c4c;width:74%}
*[class*="grid"] .box.skill *[class*="line"][class*="projects"]{background:#ffae7e;width:34%}
*[class*="grid"] .box.skill:hover a{color:#fff}
*[class*="grid"] .box.skill:hover .info{display:none}
*[class*="grid"] .box.skill:hover .pie.background{background-color:#b2d4e0}
*[class*="grid"] .box.skill:hover span{font-size:1.2em;font-style:italic;font-weight:bold}
*[class*="grid"] .box.work .box-wrapper{padding-bottom:110%;text-align:left;}
*[class*="grid"] .box.work .box-wrapper .thumb{height:85%;overflow:hidden;text-align:center;font-size:3em;font-weight:bold;color:#eaeaea;position:relative;}
*[class*="grid"] .box.work .box-wrapper .thumb img{width:100%;display:block}
*[class*="grid"] .box.work .box-wrapper .thumb span{display:block;padding-top:30%}
*[class*="grid"] .box.work .box-wrapper .info{height:15%;padding:1em;background:#fff;}
*[class*="grid"] .box.work .box-wrapper .info .date{font-weight:normal;color:#bbb}
*[class*="grid"] .box.work:hover .info{background:#30a0c8;color:#fff}
aside .skills-used .box-wrapper{font-size:1em !important}
aside a{padding:0 !important}
aside .yarpp-related-widget .thumb:hover{background:#30a0c8;}
aside .yarpp-related-widget .thumb:hover a{color:#fff;padding:1em !important}
aside .yarpp-related-widget .thumb:hover img{display:none}
footer{padding:3em 0;}
footer .row{font-size:100px}
footer .social-icons a{margin-left:1em}
footer .social-icons a:first-child{margin-left:0}
section.home{background-color:#30a0c8;height:100%;width:100%;text-align:center;color:#fff;z-index:1000;padding:0;top:0;position:relative;z-index:500;}
section.home a{color:#fff}
section.home .wrapper{height:100%;position:relative}
section.home article{position:absolute;bottom:0;width:100%;height:62%}
section.home .links{width:100%;position:absolute;bottom:7%}
.handlerArea{width:50px;height:30px;display:block;margin:0 auto;z-index:999;}
.handlerArea .arrow{background:#fff;width:1px;position:relative;margin-left:0}
.handlerArea .arrow:before{position:absolute;display:block;content:'.';font-size:5em;font-weight:bold;color:#fff;z-index:1;width:10px;height:10px;top:-16px;left:17px;line-height:0}
.handlerArea .arrow:after{position:absolute;display:block;content:'.';font-size:1px;color:#fff;line-height:1px;border-width:25px;border-style:solid;border-bottom-color:transparent;border-top-color:#30a0c8;border-right-color:transparent;border-left-color:transparent}
.row{margin-left:-1em;*zoom:1}
.row:after{clear:both;display:table;line-height:0;content:""}
*[class*='span']{float:left;margin-left:1em;width:100%;}
*[class*='span'] .span-wrapper{float:none;margin:0;width:auto;font-size:13px}
*[class*='span'].[class*='fullwidth']{margin-left:0}
*[class*='span'].[class*='nomargin']{margin:0}
[class*=span1]{width:-moz-calc(8.333333333333334% - 1em);width:-webkit-calc(8.333333333333334% - 1em);width:-o-calc(8.333333333333334% - 1em);width:-ms-;width:args;width:calc(8.333333333333334% - 1em)}
[class*=span2]{width:-moz-calc(16.666666666666668% - 1em);width:-webkit-calc(16.666666666666668% - 1em);width:-o-calc(16.666666666666668% - 1em);width:-ms-;width:args;width:calc(16.666666666666668% - 1em)}
[class*=span3]{width:-moz-calc(25% - 1em);width:-webkit-calc(25% - 1em);width:-o-calc(25% - 1em);width:-ms-;width:args;width:calc(25% - 1em)}
[class*=span4]{width:-moz-calc(33.333333333333336% - 1em);width:-webkit-calc(33.333333333333336% - 1em);width:-o-calc(33.333333333333336% - 1em);width:-ms-;width:args;width:calc(33.333333333333336% - 1em)}
[class*=span5]{width:-moz-calc(41.66666666666667% - 1em);width:-webkit-calc(41.66666666666667% - 1em);width:-o-calc(41.66666666666667% - 1em);width:-ms-;width:args;width:calc(41.66666666666667% - 1em)}
[class*=span6]{width:-moz-calc(50% - 1em);width:-webkit-calc(50% - 1em);width:-o-calc(50% - 1em);width:-ms-;width:args;width:calc(50% - 1em)}
[class*=span7]{width:-moz-calc(58.333333333333336% - 1em);width:-webkit-calc(58.333333333333336% - 1em);width:-o-calc(58.333333333333336% - 1em);width:-ms-;width:args;width:calc(58.333333333333336% - 1em)}
[class*=span8]{width:-moz-calc(66.66666666666667% - 1em);width:-webkit-calc(66.66666666666667% - 1em);width:-o-calc(66.66666666666667% - 1em);width:-ms-;width:args;width:calc(66.66666666666667% - 1em)}
[class*=span9]{width:-moz-calc(75% - 1em);width:-webkit-calc(75% - 1em);width:-o-calc(75% - 1em);width:-ms-;width:args;width:calc(75% - 1em)}
[class*=span10]{width:-moz-calc(83.33333333333334% - 1em);width:-webkit-calc(83.33333333333334% - 1em);width:-o-calc(83.33333333333334% - 1em);width:-ms-;width:args;width:calc(83.33333333333334% - 1em)}
[class*=span11]{width:-moz-calc(91.66666666666667% - 1em);width:-webkit-calc(91.66666666666667% - 1em);width:-o-calc(91.66666666666667% - 1em);width:-ms-;width:args;width:calc(91.66666666666667% - 1em)}
[class*=span12]{width:-moz-calc(100% - 1em);width:-webkit-calc(100% - 1em);width:-o-calc(100% - 1em);width:-ms-;width:args;width:calc(100% - 1em)}
.control-group{margin-bottom:1em;}
.control-group input,.control-group textarea{width:100%;padding:.5em;border:0}
.control-group input{line-height:2em}
.control-group input.captcha-input{width:80%;float:left}
.control-group .captcha-image{width:20%;height:3em}
.control-group input[type="submit"]{background:#30a0c8;color:#fff;font-size:1.2em}
.control-group input[type="submit"]:hover{background:#005e7f}
.control-group textarea{min-height:8em}
.control-group label,.control-group .error-msg{display:none;visibility:hidden}
.control-group .validation-error{border-left:3px solid #f00}
input:-moz-placeholder,textarea:-moz-placeholder{color:#999}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#999}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#999}
.ring{z-index:100;width:100%;height:100%;background:#eaeaea;}
.ring .ring-wrapper{position:absolute;width:100%;height:100%;clip:rect(0,1em,1em,.5em);z-index:100}
.ring .clipper{position:absolute;background:inherit;width:50%;height:100%}
.ring .pie-wrapper{position:absolute;width:100%;height:100%;background:inherit;}
.ring .pie-wrapper .clipper{left:50%}
.ring .pie{position:absolute;width:100%;height:100%;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;-webkit-font-smoothing:antialiased;font-smoothing:antialiased;text-rendering:optimizeLegibility;background:#30a0c8}
.ring .pie-wrapper.fill{left:50%;width:50%;-moz-opacity:0;-khtml-opacity:0;opacity:0;filter:alpha(opacity=0);overflow:hidden;}
.ring .pie-wrapper.fill .pie{width:200%;left:-100%}
.ring .pie.background{background:inherit;width:90%;height:90%;top:5%;left:5%;z-index:101}
.ring .pie.trace{-moz-opacity:.3;-khtml-opacity:.3;opacity:.3;filter:alpha(opacity=30);z-index:100}
.clipper.out{-webkit-animation-duration:2s;-webkit-animation-timing-function:ease-in-out;-webkit-animation-fill-mode:forwards}
.pie-wrapper.fill{-webkit-animation-duration:2s;-webkit-animation-timing-function:ease-in-out;-webkit-animation-fill-mode:forwards}
.ring.gt50 .clipper.out{display:none}
.ring.gt50 .pie-wrapper.fill{display:block}
@-webkit-keyframes hideMe{0%{opacity:1}
100%{opacity:0}
}@-webkit-keyframes showMe{0%{opacity:0}
100%{opacity:1}
}.dropdown{position:relative}
.dropdown-toggle{padding-right:10px}
.dropdown-menu{position:absolute;background:#fff;font-size:13px;z-index:9999;min-width:140px;width:100%;top:3em;box-shadow:1px 1px 10px #bbb;text-align:left;}
.dropdown-menu li{border-top:1px solid #eaeaea;}
.dropdown-menu li a{display:block;padding:1em}
.dropdown-menu li:first-child{border:none}
.dropdown-menu li:hover{background:#30a0c8;}
.dropdown-menu li:hover a{color:#fff}
.panel{position:fixed;top:0;left:0;width:100%;height:100%;overflow:scroll;z-index:9999;}
.panel .subpanel{width:96% !important;height:100%;min-height:100%;height:auto !important;margin:0 auto;background:#eaeaea;position:relative;z-index:100;padding-bottom:3em}
.panel .panel-background{width:100%;height:100%;-moz-opacity:.7;-khtml-opacity:.7;opacity:.7;filter:alpha(opacity=70);background:#333;position:absolute;z-index:99}
.panel .panel-close{background-image:url("../img/close-btn.png");background-repeat:none;background-size:100% 100%;position:absolute;top:2em;right:2em;width:2.5em;height:2.5em;z-index:102}
.panel *[class*="panel-arrow"]{width:1.5em;height:2.5em;background-size:auto 100%;background-repeat:no-repeat;position:absolute;top:50%;z-index:103}
.panel .panel-arrow-next{background-image:url("../img/arrow-next.png");right:2em;background-position:100%}
.panel .panel-arrow-prev{background-image:url("../img/arrow-prev.png");left:2em}
.scrollorama-block{width:100%;height:100%}
.circle{position:relative;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;border-radius:50%;height:100%;width:100%;position:absolute}
.bold{font-weight:bold !important}
.clearfix:after{content:'.';display:block;clear:both;visibility:hidden;line-height:0;height:0}
.shown{display:block;visibility:visible}
.hidden{display:none;visibility:hidden}
.fixed{position:fixed}
.pull-left{float:left !important}
.pull-right{float:right !important}
.table{display:table;height:100%;width:100%;text-align:center;}
.table .table-cell{display:table-cell;vertical-align:middle}
//keyframes for the rings - not working though
 
@keyframes rota {
 0%   { transform: rotate(0deg); }
 100% { transform: rotate(360deg); }
}

@keyframes fill {
 0%        { opacity: 0; }
 50%, 100% { opacity: 1; }
}

@keyframes mask {
 0%        { opacity: 1; }
 50%, 100% { opacity: 0; }
}
@media ( max-width:767px ){body{text-align:center}
header .logo{float:none;margin:0 auto}
header nav{float:none}
section{padding-bottom:20px}
.row{margin:0}
*[class*='span']{width:100%;margin:0;margin-bottom:20px}
.home .link{float:left;width:33%}
.twitter-feed{display:none}
}